$colorSelecter: #58595b;

.colorSelecterContainer {
    display: flex;
    justify-content: space-between;

    .selectZone {
        flex-direction: column;
        height: 337px;
        margin-top: 72px;

        .mainColorSelect {
            margin-bottom: 72px;

            .mainColorList {
                display: flex;
            }
        }

        .bgColorSelect {
            .bgColorList {
                display: flex;
            }
        }
    }

    .colorPreview {
        width: 490px;
        height: 337px;
        margin-top: 42px;
    }
}
