.topContanier {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 60vw;
    .schedule {
        padding: 10px;
        gap: 10px;
        margin-left: auto;
        overflow: auto;
    }

    .contanier {
        display: flex;
        justify-content: center;
        height: auto;
    }
}
