$loginModalTextColor: #abaeb5;

.signUpContainer {
    flex-direction: column;
    text-align: center;
    padding: 0 80px;

    .signUpTitle {
        font-size: 30px;
        font-weight: bold;
        font-family: "Nanum";
        text-align: center;
    }

    .inputZone {
        padding-top: 40px;
        border-top: 1px solid $loginModalTextColor;

        div {
            display: flex;
            text-align: center;
            margin: 20px auto;
            align-items: center;

            span {
                width: 100px;
            }

            input {
                width: 422px;
                height: 60px;
                border-radius: 7px;
                border: 1px solid $loginModalTextColor;
                padding-left: 35px;
                letter-spacing: 2px;
                outline: none;
                font-size: 18px;
            }
            input::placeholder {
                color: $loginModalTextColor;
            }
        }
    }

    .signUpSub {
        width: 422px;
        height: 60px;
        border-radius: 7px;
        background-color: #547aff;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 24px;
        color: #ffffff;
        border-style: none;
    }

    .backToLogin {
        display: flex;
        justify-content: center;
        margin-top: 29px;
        padding-bottom: 23px;
        border-bottom: 1px solid $loginModalTextColor;

        span {
            font-size: 15px;
            color: $loginModalTextColor;
            font-weight: 100;
            margin-right: 17px;
        }

        a {
            font-size: 15px;
            color: $loginModalTextColor;
            font-weight: bold;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .socialSignUp {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 80px;

        .kakaoSignUp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 82px;
            cursor: pointer;

            img {
                width: 65px;
            }

            span {
                color: $loginModalTextColor;
                font-size: 16px;
                margin-top: 5px;
            }
        }

        .naverSignUp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 65px;
            }

            span {
                color: $loginModalTextColor;
                font-size: 16px;
                margin-top: 5px;
            }
        }
    }
}
