.weekContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 1280px;
    min-width: 500px;
    gap: 10px;
    .timetable {
        display: flex;
        flex-direction: column;
        width: 1100px;
        &__header {
            display: flex;
            border-top: none;
        }

        &__day,
        &__cell {
            flex: 1;
            padding: 8px;
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child {
                border-right: 1px solid #ccc; /* 마지막 요소에 border-right 추가 */
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
        }

        &__row {
            display: flex;
        }
    }
}
