.navWrapper {
    height: 96px;
    padding: 30px 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #547aff;

    .login {
        // margin: 0 35px;
        // padding: 5px;
        width: 200px;
        position: relative;

        .loginText {
            cursor: pointer;
            margin-right: 29px;
            color: white;
        }

        .signUp {
            cursor: pointer;
            color: white;
        }
    }
}
