.navWrapper {
    width: 95vw;
    height: 60px;
    padding: 30px 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .login {
        margin: 0 35px;
        padding: 5px;
        position: relative;

        .loginText {
            cursor: pointer;
        }
    }
}
