$mainBackgroundColor: #f3f6ff;
$textColor: #abaeb5;

.mainContainer {
    width: 100vw;
    background-color: $mainBackgroundColor;
    .calendar {
        margin: 32px auto;
        padding-top: 27px;
        font-size: 1.2rem;
        max-width: 80vw;
        width: 1280px;
        height: 851px;
        background-color: yellow;

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;

            .prevBtn,
            .nextBtn {
                font-size: 2rem;
                cursor: pointer;
                color: $textColor;
                transition: all 0.3s ease-in-out;
                margin: 0 60px;

                &:hover {
                    transform: translateY(-2px);
                }
            }

            h1 {
                font-size: 2rem;
                font-weight: bold;
                color: $textColor;
                margin: 0;
            }
        }

        .weekdays {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            font-weight: bold;
            // border-top: 1px solid #ccc;
            // border-left: 1px solid #ccc;
            // border-right: 1px solid #ccc;

            .weekday {
                text-align: center;
                color: $textColor;
            }
        }

        .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            .day {
                text-align: center;
                padding: 0.5rem;
                cursor: pointer;
                color: $textColor;
                border-right: 1px solid #ccc;

                transition: all 0.3s ease-in-out;
            }
        }
    }
}
