.dayTable {
    width: 75vw;
    background-color: skyblue;
    border-radius: 16px;
    padding: 20px;

    .dayChanger {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 5%;
        font-size: x-large;
    }

    .timeContainer {
        display: flex;
        align-items: center;
        height: 50px;

        .timeSlot {
            font-size: 12px;
            position: relative;
            top: -50%;
        }

        .timeBorder {
            border-top: 1px solid black;
            width: 50px;
            height: 100%;
            margin-left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contents {
            display: flex;
            align-items: center;
            width: 100%;
            border-top: 1px solid black;
            border-left: 1px solid black;
            height: 100%;
        }

        &:last-child .contents {
            border-left: none;
        }
    }
}
