.dayTable {
    min-width: 1280px;
    background-color: skyblue;
    border-radius: 16px;
    padding: 20px;

    .dayChanger {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        width: 443px;

        height: 10%;

        font-size: x-large;

        .minusDay {
            cursor: pointer;
        }
        .plusDay {
            cursor: pointer;
        }
    }

    .timeContainer {
        display: flex;
        align-items: center;
        height: 50px;

        .timeSlot {
            font-size: 12px;
            position: relative;
            top: -50%;
        }

        .timeBorder {
            border-top: 1px solid black;
            width: 50px;
            height: 100%;
            margin-left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contents {
            display: flex;
            align-items: center;
            width: 100%;
            border-top: 1px solid black;
            border-left: 1px solid black;
            height: 100%;
        }

        &:first-child {
            .otherContents:first-child {
                border-top: 1px solid black;
            }
        }
        .first {
            border-top: 1px solid black;
        }
        .otherContents {
            z-index: 1;
            display: flex;
            align-items: center;
            width: 100%;
            border-left: 1px solid black;
            height: 100%;

            &:first-child {
                border-top: 1px solid black;
            }

            &.yellowBackground {
                background-color: yellow;
            }

            .title {
                z-index: 1;
                color: black;
                font-weight: bold;
                padding: 35px;
            }
        }
    }
}
