.dayTable {
    width: 1380px;
    min-width: 1280px;
    background-color: white;
    border-radius: 50px;
    margin-left: 60px;

    .dayChangerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
        .dayChanger {
            width: 440px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
            text-align: center;
            height: 5%;
            font-size: x-large;
            .showDay {
                width: 250px;
            }
        }
    }

    .timeTable {
        display: flex;
        justify-content: center;
        width: 1170px;
        .renderCard {
            width: 1100px;
            height: 100px;
            display: flex;
            list-style: none;
            .rederTitle {
                border-top: 1px solid #abaeb5;
                width: 100%;
                padding: 10px;
            }
            .rederempty {
                width: 100%;
                padding: 10px;
                border-top: none;
            }
            .empty {
                border-top: 1px solid #abaeb5;
                width: 100%;
            }
        }
    }
}
